body {
    background-color: white;
}  


ul {
    font-family: 'IBM Plex Mono', monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;    
}

li {
    padding: 20px;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: normal;
    font-size: 3rem;
}

h2 {
    color: black;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: lighter;

}

.nav {
    justify-content: flex-end
}

.projects {
    padding-top: 20%;
}



    